@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?97960192');
  src: url('../font/fontello.eot?97960192#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?97960192') format('woff2'),
       url('../font/fontello.woff?97960192') format('woff'),
       url('../font/fontello.ttf?97960192') format('truetype'),
       url('../font/fontello.svg?97960192#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
 
  font-variant: normal;
  text-transform: none;
 
  line-height: 1em;
 
  margin-left: .2em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
 
.icon-facebook-squared:before { content: '\e800'; } 
.icon-instagram:before { content: '\e801'; } 
.icon-facebook:before { content: '\e802'; } 
.icon-pinterest:before { content: '\e803'; }
.icon-twitter:before { content: '\e804'; } 

body {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #d5d5d5;
}

h1,h2,h3,h4,h5,h6,p { 
	margin-top: 0; 
}

p { 
	color: #2652e0; 
	font-size: 0.86em;
	line-height: 1.67;
	font-weight: 700;
	padding: 0 30px 12px 30px;
	margin-bottom: 0;
}

h2 {
	font-size: 1.43em;
	line-height: 1.4;
	color: #282828;
	padding: 25px 30px;
	border-bottom: 2px solid #eee;
	min-height: 164px;
}

.quote-card {
	margin-top: 30px;
}

.quote-card img {
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.quote-card-content {
	background: #fff;
	min-height: 200px;
}

.quote-card-share ul {
	list-style: none;
	padding: 0;
	margin-top: -10px;
}

.quote-card-share ul li{
	display: inline-block;
    background: #eee;
    text-align: center;
    padding: 10px 0;
}

.quote-card-share ul li:hover a{
  background: #2652e0;
  color: #fff;
}

.quote-card-share ul li:hover{
	background: #2652e0;
}

.quote-card-share ul li:not(:last-child){
	border-right: 2px solid #fff;
}

.quote-card-share ul li:first-child{
	border-bottom-left-radius: 5px;
}

.quote-card-share ul li:last-child{
	border-bottom-right-radius: 5px;
}

.quote-card-share ul li a{
	padding: 0 10px;
	font-size: 26px;
  color: #b5b5b5;
}

@media (max-width: 767px) {
  .container {
    max-width: 325px;
  }
}

@media (min-width: 768px) {
	body {
  	position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	}
}