body {
	font-family: 'Lato', sans-serif;
	color: #1c1f21;
	background-color: #eeeeee;
	-webkit-font-smoothing: antialiased;
}

#n1header .n1title h1 {
	font-size: 30px;
	line-height: 24px;
	font-weight: 300;
	margin-bottom: 20px;
}

#n1header .n1title p {
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #7b7e80;
	margin-bottom: 20px;
}

#n1header .n1title span {
	font-weight: 700;
	color: #1c1f21;
	letter-spacing: 1px;
}

a.btn-more {
	height: 40px;
	background-color: #2e3336;
	color: #fff;
	font-size: 12px;
	line-height: 24px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 20px;
    padding: 7px 25px;
    margin-right: 3px;
}

#n1cardsgallery { margin-top: 10px; }

.n1card { margin: 15px 0; }

.n1card-bg { background-color: #fff; }

.card-img {
	height: 223px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
}

.card-img img { width: 100%; }

.card-content, .card-footer { padding: 0 20px 15px 20px;}

.card-content h2 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 900;
	margin-bottom: 20px;
}

.card-content h2 a{ color: inherit; }

.card-content p {
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #7b7e80;
}

.card-footer .card-cat {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 20px;
	font-weight: 700;
	letter-spacing: 1px;
}

.card-footer .card-author {
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: #7b7e80;

}

.card-footer .card-author a{
	font-weight: 700;
	color: #1c1f21;
}

a.btn-more:hover, a.btn-more:active, a.btn-more:focus {
	background-color: #1d8eda;
	color: #fff;
}

.card-content h2 a:hover, .card-footer .card-author a:hover , .card-content h2 a:active, .card-footer .card-author a:active , .card-content h2 a:focus, .card-footer .card-author a:focus{
	color: #489fdf;
	text-decoration: underline;
}

.pull-right { float: none!important;}

@media (min-width: 375px) {
	.card-img {
		height: 265px;
	}

}

@media (min-width: 768px) {

	.n1more { padding-top: 68px; }

	.n1card {
    	margin-top: 10px;
	}

	.card-content h2 { height: 65px;}

	.card-content p { height: 85px;}

	.pull-right { float: right!important;}

}

@media (min-width: 991px) {

	#n1header { margin-top: 45px; }

	.card-content h2 { height: 125px; }

	.card-img {	height: 160px; }

	.card-content p { height: 100px; }


}

@media (min-width: 1200px) {
	

	.container { padding: 0; }

	#n1cardsgallery { margin-top: 0; }
	
	.n1card { height: 501px; }

	.n1card-bg { width: 263px; }

	.card-img { height: 201px; }

	.card-content h2 { height: 65px;}

	.card-content p { height: 85px;}

	.card-footer { margin-top: 17px; }

	.card-cat { margin-bottom: 0; }

}

