@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?95493313');
  src: url('../font/fontello.eot?95493313#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?95493313') format('woff2'),
       url('../font/fontello.woff?95493313') format('woff'),
       url('../font/fontello.ttf?95493313') format('truetype'),
       url('../font/fontello.svg?95493313#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?95493313#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-user:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */

body {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	-webkit-font-smoothing: antialiased;
    text-transform: uppercase;
	background: linear-gradient(rgba(22, 22, 22, 0.8), rgba(22, 22, 22, 0.8) ), url(../../img/sitebg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #121213;
}

h1,h2,h3,h4,h5,h6 { margin-top: 0; }

.container { max-width: 1140px;}

.s1top-container {
	border-bottom: 2px solid #353535;
	height: 590px;
}

#s1top, #s1bottom { 
	text-align: center; 
	margin: 20px 0;
}

.s1topmaintotal-amount {
    font-size: 120px;
    line-height: 88px;
    font-weight: 800;
    margin-bottom: 50px;
}

.s1topmaintotal-title , .s1bottommaintotal-title {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2px;
	margin: 20px 0 30px 0;
}

.s1bottommaintotal-title span{
    background-color: #c24c0e;
    padding: 5px 10px;
}

.s1topmaintotal-title span{
    background-color: #00ae9d;
    padding: 5px 10px;
}

.s1topdata p {
	font-size: 50px;
	font-weight: 700;
}
.s1topdata {
	margin-bottom: 30px;
	background-color: #00ae9d;
}

.s1topdata p span{
	display: block;
	font-size: 16px;
	font-weight: 600;
	color: #00ae9d;
	letter-spacing: 4px;
	background-color: #fff;
	padding: 8px 0;
}

.s1topdata.recentpageview { background-color: #c24c0e; }

.s1topdata.recentpageview p span { color: #c24c0e; }

.s1bottomdata p {
	font-size: 50px;
	font-weight: 800;
}
.s1bottomdata {
	margin-bottom: 20px;
}

.s1bottomdata p span{
	display: block;
	font-size: 16px;
	font-weight: 600;
	color: #00ae9d;
	letter-spacing: 4px;
}

.s1topdata p i{ 
	display: block; 
	font-size: 30px;
}

@media (min-width: 768px ) {
	
	.s1topmaintotal-title, .s1bottommaintotal-title {
	    font-size: 16px;
	    margin: 50px 0 20px 0;
	}

	.s1topmaintotal-amount {
	    font-size: 120px;
	    line-height: 128px;
	    margin-bottom: 50px
	}

	.s1top-container {	height: 460px; }
}


@media (min-width: 992px ) {

	.container , .col-md-3, .col-md-8 { padding: 0; }

	#s1top{ margin: 95px 0 0 0; }

	#s1bottom { margin: 30px; }

	#s1bottom .col-md-3:nth-child(n+2) { text-align: center; }

	#s1top, #s1bottom { text-align: left; }

	.s1top-container { height: 410px; }

	.s1topdata {
		background-color: #00ae9d;
		width: 166px;
	    margin-left: 5px;
	    padding-top: 5px;
    	margin-top: 150px;
	}

	.s1topdata p {
		font-size: 30px;
		line-height: 38px;
		text-align: center;
		padding: 10px 0;
	}

	.s1topdata p i{
		display: block;
		font-size: 20px;
		line-height: 28px;
	}

	.s1topdata p span {
		letter-spacing: 4px;
	    margin-top: 25px;
	    padding-left: 10px;
	    background-color: #fff;
	}

	.s1topmaintotal-amount {
		font-size: 170px;
	    line-height: 208px;
	    margin-bottom: 50px;
	    margin-top: 20px;
	    letter-spacing: -2px;
	}

	.s1topmaintotal-title, .s1bottommaintotal-title {
	    margin: 80px 0 0 0;
	}

	.s1bottommaintotal-title { margin: 25px 0; }

	.s1topmaintotal-title span , .s1bottommaintotal-title span {
		padding: 7px 8px;
	    letter-spacing: 3.6px;
	}

}


@media (min-width: 1200px ) {

	.s1topmaintotal-amount { font-size: 220px; }
}

