
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=6895083b-7456-4540-bedb-3ac0a4b0f533");
@font-face{
font-family:"Proxima Nova W01_n3";
src:url("../font/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix") format("eot")
}
@font-face{
font-family:"Proxima Nova W01";
src:url("../font/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix");
src:url("../font/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix") format("eot"),url("../font/d9fe41ee-4904-4a11-ba11-b61cd3be767f.woff2") format("woff2"),url("../font/2fa30669-9bbd-4ced-912f-db94a367ed6c.woff") format("woff"),url("../font/c12b3ebb-3771-483f-a84a-ac63d615c28e.ttf") format("truetype"),url("../font/2a961063-ea56-4a4b-8cea-bdae32edb0e2.svg#2a961063-ea56-4a4b-8cea-bdae32edb0e2") format("svg");
font-weight: 300;
font-style: normal;
}
@font-face{
font-family:"Proxima Nova W01_n4";
src:url("../font/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot")
}
@font-face{
font-family:"Proxima Nova W01";
src:url("../font/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
src:url("../font/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"),url("../font/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"),url("../font/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),url("../font/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype"),url("../font/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg");
font-weight: 400;
font-style: normal;
}
@font-face{
font-family:"Proxima Nova W01_n6";
src:url("../font/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix") format("eot")
}
@font-face{
font-family:"Proxima Nova W01";
src:url("../font/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix");
src:url("../font/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix") format("eot"),url("../font/ae47a7f5-89da-4879-b934-29722c3dd451.woff2") format("woff2"),url("../font/70ae52ec-d89b-4c6a-9402-854ebe423c54.woff") format("woff"),url("../font/6a35571c-ea14-4dac-9ae1-0e7af0abeec8.ttf") format("truetype"),url("../font/ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c.svg#ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c") format("svg");
font-weight: 600;
font-style: normal;
}
@font-face{
font-family:"Proxima Nova W01_n7";
src:url("../font/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix") format("eot")
}
@font-face{
font-family:"Proxima Nova W01";
src:url("../font/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix");
src:url("../font/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix") format("eot"),url("../font/0d416408-95c6-4ad7-b08d-e60573d3b37d.woff2") format("woff2"),url("../font/d999c07b-a049-4eb5-b8a6-4f36ae25e67e.woff") format("woff"),url("../font/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf") format("truetype"),url("../font/8152bc4e-d700-4c78-b6be-326893e6f53f.svg#8152bc4e-d700-4c78-b6be-326893e6f53f") format("svg");
font-weight: 700;
font-style: normal;
}


body {
	font-family:'Proxima Nova W01', sans-serif;
	-webkit-font-smoothing: antialiased;
}

html {
	font-size: 16px;
}

h1,h2,h3,h4,h5,h6 { 
	margin-top: 0; 
	color: #292c2d;
}

p { color: #848a8c; }

#logo {
	margin: 15px 0 0 0;
    display: block;
    line-height: normal;
    position: absolute;
    top: -5px;
    left: 46%;
    z-index: 2;
}

#logo a img {
	width: 50px;
}

#modern-header {
  background-color: #28aadc;
  min-height: 73px;
  color: #fff;
}

#modern-header .navbar-default {
    background-color: #28aadc;
    border: none;
}

#modern-header .navbar {
  	margin-bottom: 0;
    border: none;
    min-height: 71px;
}

#modern-header .navbar-toggle {
    position: relative;
    float: left;
    margin-top: 13px;
    border: none;
    left: 5px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

#modern-header .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

#modern-header .navbar-toggle .icon-bar {
    width: 35px;
    border-radius: 5px;
    height: 6px;
    margin-bottom: 5px;
}

#modern-hero {
	position: relative;
	background-color: #28aadc;
	color: #fff;
	padding-top: 55px;
	padding-bottom: 40px;
}

#modern-content {
	padding-top: 45px;
	padding-bottom: 49px;
}

#modern-footer {
	border-top: 2px solid #eff1f2;
	padding-top: 40px;
	padding-bottom: 30px;
	text-align: center;
}

#modern-header .navbar-nav {
    margin: 15px;
}

#modern-header .navbar-default .navbar-nav li a {
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}

#modern-header .navbar-default .navbar-nav li.menu5 a {
    float: left;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #fff;
    padding: 2px 15px;
    margin-left: 15px;
    margin-top: 10px;
}

.feat-content { margin-top: 50px;}

.feat-title { 
	position: relative; 
	width: 300px;
}

.feat-title h1 {
	font-size: 2.57em;
	line-height: 1.2;
	font-weight: 700;
	color: #fff;
	margin-bottom: 15px;
}

.feat-img { position: inherit;}

.feat-img img {
	position: absolute;
	top: 0;
	width: 100px;
}

.feat-author p{
	font-size: 1em;
	line-height: 1.57;
	font-weight: 400;
	color: #fff;
	margin-bottom: 20px;
}

.feat-author p a.feat-author-name{
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.feat-author p a.feat-cat{
	font-weight: 700;
	color: #fff;
}


.feat-text p{
	font-size: 1.29em;
	line-height: 1.6;
	font-weight: 400;
	color: #fff;
	margin-bottom: 30px;
}

a.btn-feat {
	border: 2px solid #fff;
	border-radius: 4px;
	width: 100%;
	height: 42px;
	color: #fff;
	font-size: 1.29em;
	line-height: 1.6;
	font-weight: 700;
}

a.btn-feat:hover, a.btn-feat:focus, a.btn-feat:active  {
	color: #28aadc;
	background-color: #fff;
}

.feat-share ul {
	list-style: none;
	padding: 0;
	text-align: center;
	margin-top: 30px;
}

.feat-share ul li{
	display: inline-block;
}

.feat-share ul li a{
	display: inline-block;
	text-transform: uppercase;
	font-size: 0.86em;
	line-height: 2.3333;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 600;
	margin-right: 10px;
}

.feat-share ul li a img{
	width: 20px;
}

.feat-share ul li a span{
	padding-left: 5px;
}

.content-card {
	margin-bottom: 45px;
}

.content-card img{
	width: 100%;
	margin-bottom: 15px;
}

.content-card a.content-cat {
	font-size: 0.86em;
	line-height: 2.3333;
	font-weight: 700;
	color: #fff;
	text-decoration: none;

}

.content-card a.content-cat span{
	background-color: #cedadf;
	padding: 3px 5px;
}

.content-card a.content-cat span:hover{
	background-color: #28aadc;
	cursor: pointer;
}

.content-card h2 {
	font-size: 2.14em;
	line-height: 1.27;
	font-weight: 700;
	margin-top: 10px;
}

.content-card p.content-excerpt {
	font-size: 1.29em;
	line-height: 1.6;
	font-weight: 400;
	color: #848a8c;
}

a.btn-card {
  border: 2px solid #28aadc;
  border-radius: 4px;
  width: 100%;
  height: 42px;
  color: #28aadc;
  font-size: 1.29em;
  line-height: 1.6;
  font-weight: 700;
}

a.btn-card:hover, a.btn-card:focus, a.btn-card:active  {
	color: #fff;
	background-color: #28aadc;
}

#modernpagination { text-align: center; }

#modernpagination .pagination li a {
    font-size: 1.29em;
    line-height: 1.6;
    font-weight: 700;
    color: #28aadc;
}

#modernpagination .pagination .active a, .pagination .active a:focus, .pagination .active a:hover, .pagination .active span, .pagination .active span:focus, .pagination .active span:hover {
    color: #fff;
    background-color: #28aadc;
    border-color: #28aadc;
}

#modernpagination .pagination li a, .pagination li span {
    padding: 5px 10px;
    border-width: 2px;

}

.footer-copyright p {
	color: #292c2d;
	font-size: 1em;
	line-height: 2;
	text-transform: capitalize;
}

.footer-copyright p img {
	width: 50px;
}

.footer-sitemap ul {
	list-style: none;
	padding: 0;
}

.footer-sitemap ul li{
	display: inline-block;
}

.footer-sitemap ul li a{
	display: inline-block;
	text-transform: capitalize;
	font-size: 1.14em;
	line-height: 1.75;
	color: #28aadc;
	font-weight: 600;
	margin: 3px;
}

@media (min-width: 411px) {

	.feat-content {
		margin-top: 0;
	}

	.feat-img img {
	    right: 15px;
	    top: 25px;
	    width: 155px;
	}

}

@media (min-width: 768px) {

	.navbar-nav li {
    	float: none;
	}

	.navbar-toggle {
		display: block;
	}
	
	.feat-title {
		width: 100%;
	}

	.feat-img img {
	    right: 30px;
	    width: 190px;
	}

	a.btn-feat { 
		width: inherit; 
		float: left;
		padding: 5px 30px;
	} 

	.feat-share ul{
        padding: 10px 20px;
	}


	.content-card {
		margin-bottom: 50px;
	}

	#modern-footer {
		text-align: left;
	}

	.footer-sitemap ul {
    	float: right;
    	padding-top: 7px;
	}

}

@media (min-width: 992px) {

	#logo{
		margin-top: 10px;
	    position: static;
	    margin-left: 5px;
	}
	
	#logo a img {
    	width: 55px;
	}

	#modern-header .collapse {
    	display: block;
    	position: absolute;
	    right: 60px;
	    top: -60px;
	}

	#modern-header .navbar-nav {
    	 margin: 0; 
	}


	.navbar-nav>li {
    	float: left;
	}

	#modern-header .navbar { min-height: 0; }

	#modern-header .navbar-default .navbar-nav li a {
    	color: #fff;
    	font-size: 1.14em;
    	line-height: 1.75;
    	font-weight: 600;
    	padding: 15px 10px;
	}

	#modern-header .navbar-default .navbar-nav li.menu5 a {
	    border: 2px solid #fff;
	    padding: 0 15px;
	    margin-top: 14px;
	    margin-left: 15px;
	    border-radius: 4px;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 0.86em;
		line-height: 2.3333;
	}

	.feat-img {
    	position: relative;
	}

	.feat-img img {
		top: 0;
	    right: 0;
	    width: 385px;
	}

	.feat-share ul {
	    margin-top: 0;
	    float: left;
	}

	.navbar-toggle {
		display: none;
	}

	.content-card {
		margin-bottom: 55px;
	}

	.footer-copyright p {
    	padding-top: 5px;
	}

	.footer-sitemap ul li a {
    	margin: 0 10px;
    }

    .footer-sitemap ul {
    	padding-top: 15px;
	}

	a.btn-card {
		width: 40%;
	}

	.content-card p.content-excerpt {
		height: inherit;
	}
	    
}

@media (min-width: 1200px) {

	#modern-hero {
	    padding-bottom: 55px;
	}

	#modern-content {
    	padding-top: 75px;
	}

	.feat-author {
		    padding-top: 10px;
	}

	.feat-img img {
	    top: -10px;
	    right: 60px;
	}

	.feat-title h1 {
	    font-size: 2.86em;
	    line-height: 1.2;
	    margin-bottom: 0;
	}


	#modernpagination .pagination {
    	margin-left: -45px;
	}

	#modernpagination .pagination li a, .pagination li span {
    	padding: 7px 12px;
	}

	#modern-footer {
    	padding-top: 18px;
	}


	.footer-sitemap ul {
	    position: absolute;
	    right: 0;
	}

	.footer-sitemap ul li a {
    	margin: 0 5px;
	}
}



