body {
	font-family: Arial;
	color: #2a2929;
}

.container {
    max-width: 700px;
}

#d1banner .banner-bg {
	background: url(../../img/banner.jpg);
	height: 520px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 60px 0;
}

#d1content #title h1 {
	font-weight: 700; 
	font-size: 50px; 
	line-height:24px;  
	margin-bottom: 30px; 
}

#d1content #title p {
	font-weight: 500; 
	font-size: 30px; 
	line-height: 24px; 
	margin-bottom: 25px;
}

#d1content #author .author-img {
	height: 60px; 
	width: 60px; 
	border-radius: 50%; 
	background: #e6e6e6; 
	margin-right: 16px;
}

#d1content #author p{
	color: #a2a2a2; 
	font-size: 16px; 
	line-height: 24px; 
	display: inline-block;
}

#d1content #author p a{ color: #f41e5f; }

#d1content #author p a:hover{ text-decoration: underline; }

#d1content #contenttext {
	border-bottom: 1px solid #e6e6e6; 
	margin-top: 30px; 
	margin-bottom: 40px; 
	padding-bottom: 35px;
}

#d1content #contenttext p{
	font-size: 24px; 
	line-height: 36px; 
	margin-bottom: 35px;
}

#d1footer h4 {
	font-size: 14px; 
	line-height: 36px; 
	color: #a6a6a6; 
	text-transform: uppercase;
	margin-bottom: 35px; 
	letter-spacing: 4px;
}

#d1footer a{
	font-size: 20px; 
	line-height: 36px; 
	font-weight: 700; 
	color: #2a2929;
}

#d1footer p{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 40px;
}

@media (max-width: 700px) {

	#d1content #title h1 { 
		line-height: 44px; 
		font-size: 36px;
		margin-bottom: 20px;
	}

	#d1content #title p { 
		font-size: 26px;
		line-height: 34px; 
	}

	#d1banner .banner-bg { 
		height: 320px;
		margin: 10px 0;
	}

	#d1content #contenttext p {
	    font-size: 20px;
	    line-height: 28px;
	}
}

@media (max-width: 440px) {

	#d1banner .banner-bg {
	    height: 240px;
	    margin: 0;
	}

	#d1content #title h1 {
	    line-height: 52px;
	    font-size: 45px;
    	margin-bottom: 15px;
	}

	#d1content #title p {
	    font-size: 20px;
	    line-height: 28px;
	}

	#d1content #author .author-img {
	    height: 45px;
	    width: 45px;
	    margin-right: 6px;
	}

	#d1content #author p {
	    font-size: 14px;
	    line-height: 22px;
	}

	#d1footer a {
	    font-size: 20px;
	    line-height: 28px;
	}

}




