body {
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #121313;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p { 
	margin-top: 0;
  margin-bottom: 0; 
}

#amsad-about {
  margin-top: 25px;
  position: relative;
}

#amsad-about img {
  width: 100%;
}

#amsad-work img {
  width: 100%;
}

.about-content{
  padding-top: 40px;
}

.about-content-block {
  margin-bottom: 50px;
}

.about-content h3 {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 17px;
}

.about-content p {
  color: #939595;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 40px;
}

.about-content a {
  border: 3px solid #60e0d0;
  color: #60e0d0;
  font-weight: 700;
  text-transform: uppercase;
  padding: 7px 27px;
  letter-spacing: 2px;
}

.about-content a:hover, .about-content a:active, .about-content a:focus {
  background: #60e0d0;
  color: #121313;
  text-decoration: none;
}

#amsad-feed {
  margin-bottom: 35px;
}

.amsad-feed-block {
  margin-bottom: 35px;
}

.amsad-feed-block a {
  color: #5e6161;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

.amsad-feed-block a span {
  font-size: 16px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.amsad-feed-block a:hover, .amsad-feed-block a:active, .amsad-feed-block a:focus {
  color: #60e0d0;
  text-decoration: none;
  padding-bottom: 20px;
}


.amsad-feed-block a:hover span, .amsad-feed-block a:active span, .amsad-feed-block a:focus span  {
  color: #fff;
}

#amsad-work {
    margin-bottom: 90px;
}

#amsad-work .work-card {
  padding: 0;
  position: relative;
}

#amsad-work .work-card .work-link {
  display: none;
}

#amsad-work .work-card a:hover .work-link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.8);
  padding: 40px 20px;
}

#amsad-work .work-card .work-link h3 {
  border: 5px solid #60e0d0;
  padding: 50px 25px 20px 25px;
  padding: 60px 10px;
  word-wrap: break-word;
  color: #fff;
  font-weight: 700;
  font-size: 46px;
  line-height: 50px;
  text-transform: capitalize;
}

#amsad-work .work-card .work-link h3 span {
  color: #60e0d0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#amsad-work .work-card .work-link h3 span img{
  width: 12px;
  margin-top: 30px;
}

#amsad-work .work-card h4 { 
   position: absolute; 
   top: 80%; 
   left: 5%; 
   width: 100%; 
   text-transform: uppercase;
}

#amsad-work .work-card a:hover h4 span { 
  display: none;
}

#amsad-work .work-card h4 span { 
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 5px;
  font-weight: 700;
}

#amsad-testimony h4 {
  color: #5e6161;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 25px;
}

#amsad-testimony .testimony-block {
  margin-bottom: 35px;
}

#amsad-testimony p.testimony-content {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 25px;
}

#amsad-testimony p.testimony-name {
  color: #939595;
  font-size: 16px;
  line-height: 24px;
}

#amsad-testimony p.testimony-name span{
  color: #58cdbe;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 5px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 768px) {

  #amsad-work img {
    margin-bottom: 0;
  }

  #amsad-work .work-card h4 {
     top: 90%; 
     left: 5%; 
  }

}

@media (min-width: 375px) {

  #amsad-work .work-card a:hover .work-link {
    padding: 70px 30px;
  }

  #amsad-work .work-card a:hover .work-link h3{
    padding: 40px 20px 20px;
  }

}

@media (min-width: 991px) {
  
  #amsad-about {
    margin-top: 200px;
    margin-bottom: 180px;
  }

  #amsad-about img {
    width: 520px;
  }

  .about-content {
    padding-top: 0;
    position: absolute;
    top: 9%;
    left: 35%;
    right: 5%;
    background: #121313;
    padding: 20px;
  }

  #amsad-work {
    margin-bottom: 100px;
  } 

  #amsad-work .work-card a:hover .work-link {
    padding: 50px 30px;
  } 

  #amsad-testimony h4 {
    margin-bottom: 40px;
    margin-left: -15px;
  }

  #amsad-testimony p.testimony-content {
    line-height: 36px;
    margin-bottom: 30px;
  }

  #amsad-testimony p.testimony-name span {
    line-height: 36px;
  }

  .testimony-block:first-child {
    padding-left: 0;
    padding-right: 20px;
  }

}

@media (min-width: 1020px) {
  
  #amsad-about {
    margin-bottom: 190px;
  }

  .about-content-block {
    padding: 0px 25px;
  }

  #amsad-feed {
    margin-bottom: 45px;
  }

}

@media (min-width: 1200px) {
  
  #amsad-about {
    margin-bottom: 120px;
  }

  #amsad-about img {
    width: 625px;
  }

  .about-content-block {
    padding: 0px 40px 0 30px;
  }

  .about-content {
    padding-top: 25px;
  }

  #amsad-work .work-card a:hover .work-link {
    padding: 80px 40px;
  }

  .testimony-block:first-child {
      padding-right: 30px;
  }

}

@media (min-width: 1500px) {

  #amsad-about {
    margin-bottom: 105px;
  }

  .about-content {
      left: 38%;
      padding: 50px 0 0 40px;
      max-width: 826px;
  }

  #amsad-feed {
    margin-bottom: 100px;
  }

  #amsad-work {
    margin-bottom: 160px;
  }

  #amsad-testimony h4 {
    margin-bottom: 55px;
  }

}

@media (min-width: 2400px) {
  
  .container {
    width: 1444px;
  }

  #amsad-about img {
    width: 826px;
  }

  #amsad-feed {
    margin-bottom: 165px;
  }

  .amsad-feed-block {
    margin-bottom: 0;
    padding-right: 65px;
  }

  .amsad-feed-block:first-child {
    padding-right: 80px;
  }

  .about-content {
    left: 46%;
    padding: 90px 0 90px 90px;
  }

  .about-content-block {
    padding: 0px 45px 0 25px;
  }
  
  #amsad-work .work-card a:hover .work-link {
    padding: 110px 68px;
  }

  #amsad-work .work-card .work-link h3 {
    padding: 60px 25px 30px 30px;
    line-height: 55px;
  }

  #amsad-testimony .testimony-block {
    padding-right: 71px;
  }

  #amsad-testimony .testimony-block:first-child {
    padding-right: 86px;
  }

}